/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-ene-2015, 10:17:45
    Author     : georgeperez
*/

//Colocando el asterisco en rojo
.ui-outputlabel, span{
    background-color: green !important;
}

.required > span{
    color: red !important;
    margin-right: .5em !important;
    font-weight: bold !important;
}

.ui-selectonemenu{
     width: 190px !important; 
}
.ui-inputmask{
    width: 190px !important;
}

.ui-inputmask--max{
    width: 190px !important;
}

.ui-selectonemenu--min{
    width: 50px !important; 
}
.ui-inputmask--min{
    width: 138px !important;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    margin-left: 2px !important;
}
.ui-inputtext{
    width: 190px !important;
}
.ui-wizard-step-title--min {
    font-size: 14px !important;
    margin: 5px 3px 0 0 !important;
}

.column1{width: 150px;height:auto}
.column1--max{width: 200px;height:auto}
.column2{width: 250px;height:auto}
/*.column3{width: 341px;height:auto}*/

/*.ui-widget-content {
    border: none !important;
}*/